@mixin font_family($name, $size , $height, $space, $type, $color: $whiteColor) {
  font-family: $name, sans-serif;
  font-size: $size;
  line-height: $height;
  letter-spacing: $space;
  text-transform: $type;
  color: $color;
}

@mixin flex($display:flex,$flex-direction:row, $justify-content:space-around,$text-align:center){
  display: $display;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  text-align: $text-align;
}

@mixin background_image($image-name,$size, $width, $height){
  background-image: url("../assets/#{$image-name}.png");
  background-size: $size;
  background-repeat: no-repeat;
  @include width_height( $width, $height);
}

@mixin width_height($width, $height){
  width: $width;
  height: $height;
}

@mixin font_face($name,$file-name, $weight){
  @font-face {
    font-family: $name;
    src: url("../assets/fonts/#{$file-name}.ttf") format("truetype");
    font-weight: $weight;
    font-style: normal;
  }
}

