$blackColor: #060606;
$lightGrayColor: #ffffffb3;
$whiteColor: #fff;
$whiteColor2: #eeeeee;
$grayColor: #666;
$darkGrayColor: #464547;
$violetColor: #7b61ff;
$lightGrayColor2: #ffffff66;
$textSectionBgColor: #422cb08c;

