@media only screen and (min-width: 480px) and (max-width: 768px) {
    .footer {
        &__container {
            display: block;

            &__logo {
                margin: 0 0 0 40%;
            }

            &__text {
                width: 100%;

                &-top {
                    text-align: center;
                }

                &-bottom {
                    @include flex(flex, column, center, center);
                    gap: 30px;
                }
            }
        }
    }
}
