.footer {
    padding: 40px 0;
    color: $lightGrayColor2;
    background-color: $blackColor;

    &__container {
        width: 85%;
        margin: auto;

        @include flex(flex, row, space-between, center);

        &__logo {
            width: 15%;

            img {
                animation: logo_animation 3s ease 2s infinite;
            }

            h6 {
                @include font_family(
                    Source Sans SemiBold,
                    20px,
                    16px,
                    2px,
                    uppercase,
                    $whiteColor
                );
            }
        }

        &__text {
            margin: 10px 0;
            width: 80%;

            @include font_family(
                Source Sans Regular,
                16px,
                19px,
                0,
                none,
                $lightGrayColor2
            );

            &-top {
                text-align: start;
            }

            &-bottom {
                margin-top: 20px;

                @include flex(flex, row, space-between, start);

                a {
                    text-decoration: none;
                    color: $lightGrayColor2;
                }
            }
        }
    }
}
