@media screen and (min-width: 480px) and (max-width: 768px) {
    .header {
        height: 800px;

        &__menu {
            background-position: bottom;
            @include background_image('Rectangle 12 (1)', cover, 100%, 100%);

            &__nav {
                @include flex(flex, row, space-between);

                &-checkbox {
                    position: absolute;
                    display: block;
                    top: 25px;
                    right: 35px;
                    z-index: 3;
                    opacity: 0;
                    cursor: pointer;
                    @include width_height(32px, 32px);
                }

                &__burger {
                    position: absolute;
                    top: 25px;
                    right: 30px;
                    z-index: 2;
                    @include width_height(32px, 26px);
                    @include flex(flex, column, space-between);

                    &-item {
                        display: block;
                        border-radius: 10px;
                        background-color: $whiteColor;
                        @include width_height(100%, 4px);

                        &:nth-child(1) {
                            transform-origin: 0 0;
                            transition: transform 0.4s ease-in-out;
                        }

                        &:nth-child(2) {
                            transition: transform 0.2s ease-in-out;
                        }

                        &:nth-child(3) {
                            transform-origin: 0 100%;
                            transition: transform 0.4s ease-in-out;
                        }
                    }
                }

                input[type='checkbox']:checked ~ {
                    .header__menu__nav {
                        &-items {
                            transform: translateX(0);
                        }

                        &__burger {
                            .header__menu__nav__burger-item {
                                &:nth-child(1) {
                                    transform: rotate(45deg);
                                }

                                &:nth-child(2) {
                                    transform: scaleY(0);
                                }

                                &:nth-child(3) {
                                    transform: rotate(-45deg);
                                }
                            }
                        }
                    }
                }

                &-items {
                    padding-top: 120px;
                    background-color: #7b61ffda;
                    z-index: 1;
                    transform: translate(150%);
                    transition: transform 0.5s ease-in-out;
                    position: absolute;
                    top: 0;
                    gap: 60px;
                    @include flex(flex, column, start);
                    @include width_height(100%, 800px);

                    a {
                        font-size: 25px;
                    }
                }
            }

            &__main {
                width: 80%;
                margin: auto;
                text-align: center;

                &__title {
                    display: block;
                    text-align: center;
                }

                &__paragraph {
                    margin-top: 10%;
                }
            }
        }
    }
}
