.header {
    @include background_image('IMG_9387 1', contain, 100%, 100vh);
    background-position-x: right;

    &__menu {
        @include background_image('Rectangle 12', cover, 80%, 100vh);

        &__nav {
            padding: 30px 0;

            @include flex;

            &-checkbox {
                display: none;
            }

            h1 {
                width: 35%;

                @include font_family(
                    Source Sans SemiBold,
                    20px,
                    16px,
                    2px,
                    uppercase,
                    $whiteColor
                );
            }

            &-items {
                width: 50%;

                @include flex;

                list-style: none;

                a {
                    text-decoration: none;
                    padding-bottom: 5px;
                    border-bottom: 1px solid transparent;
                    cursor: pointer;
                    transition: 0.3s;

                    @include font_family(
                        Source Sans Regular,
                        14px,
                        16px,
                        2.8px,
                        uppercase,
                        $whiteColor
                    );

                    &:hover {
                        border-bottom: 1px solid white;
                    }
                }
            }
        }

        &__main {
            width: 50%;
            margin: 10% 0 0 15%;

            &__title {
                @include flex(flex, row, start, start);

                margin-bottom: 5%;

                img {
                    animation: logo_animation 3s ease 2s infinite;
                }

                h1 {
                    @include font_family(
                        Oswald Bold,
                        75px,
                        84.5px,
                        0,
                        none,
                        $whiteColor
                    );
                }
            }

            p {
                padding-left: 8%;

                @include font_family(
                    Source Sans Regular,
                    24px,
                    32px,
                    0,
                    none,
                    $whiteColor
                );
            }
        }
    }
}
