@media only screen and (min-width: 480px) and (max-width: 768px) {
    .main {
        &__text-section {
            &__subtitle {
                margin-top: 5%;
                width: 80%;
            }

            &__article {
                width: 80%;
                gap: 40px;
                margin: 5% auto;

                @include flex(flex, column, center, start);

                article {
                    width: 100%;

                    @include font_family(
                        Source Sans Regular,
                        16px,
                        22px,
                        0,
                        none,
                        $grayColor
                    );
                }
            }

            &__btn {
                margin-bottom: 12%;
            }
        }
    }
}
