.main {
    padding-top: 5%;
    text-align: center;
    background-color: $whiteColor2;

    &__text-section {
        &__title {
            @include font_family(
                Oswald Bold,
                48px,
                64px,
                0,
                none,
                $darkGrayColor
            );
        }

        &__subtitle {
            width: 30%;
            margin: 2% auto;

            @include font_family(
                Source Sans Regular,
                24px,
                32px,
                0,
                none,
                $grayColor
            );
        }

        &__article {
            margin: 45px auto 0;
            gap: 80px;
            width: 70%;

            @include flex(flex, row, space-evenly, start);

            article {
                width: 50%;

                @include font_family(
                    Source Sans Regular,
                    16px,
                    22px,
                    0,
                    none,
                    $grayColor
                );
            }
        }

        &__btn {
            margin-top: 50px;
            padding: 5px 18px;
            border: none;
            border-radius: 18px;
            background: $violetColor;
            cursor: pointer;
            transition: 0.3s;

            @include font_family(
                Oswald Regular,
                14px,
                26px,
                1.4px,
                uppercase,
                $whiteColor
            );

            a {
                text-decoration: none;
                color: white;
            }

            &:hover {
                transform: rotate(10deg);
                transform-origin: left;
            }
        }
    }
}
