.main {
    &__video-section {
        @include background_image('IMG_9320 1', cover, 100%, 100vh);
        margin-top: 10%;
        padding-top: 7%;
        background-position: bottom;
        background-blend-mode: color-dodge;
        position: relative;
        z-index: 0;

        &::after {
            content: '';
            background-color: $textSectionBgColor;
            position: absolute;
            inset: 0;
            z-index: -1;
        }

        &__title {
            @include font_family(Oswald Bol, 48px, 64px, 0, none, $whiteColor);
        }

        &__btn {
            border-radius: 50%;
            color: $whiteColor;
            background-color: $violetColor;
            border: 0;
            cursor: pointer;
            font-size: 60px;
            transition: 0.3s;
            margin-top: 3%;
            @include width_height(145px, 143.468px);

            &:hover {
                color: $violetColor;
                background-color: $whiteColor;
            }
        }

        &__paragraph {
            width: 35%;
            margin: 5% auto 0;

            @include font_family(
                Source Sans Regular,
                24px,
                32px,
                0,
                none,
                $whiteColor
            );
        }
    }
}
