@media only screen and (min-width: 480px) and (max-width: 768px) {
    .main {
        &__video-section {
            padding-top: 10%;

            &__title {
                margin: 5%;
            }

            &__paragraph {
                width: 80%;
                margin: 12% auto;
            }
        }
    }
}
