@import 'kit/variables';
@import 'kit/mixins';

@include font_face(Source Sans Regular, 'SourceSansPro-Regular', 400);
@include font_face(Source Sans SemiBold, 'SourceSansPro-SemiBold', 600);
@include font_face(Oswald Regular, 'Oswald-Regular', 400);
@include font_face(Oswald Bold, 'Oswald-Bold', 700);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import 'header';
@import 'menu';
@import 'footer';

@import 'mobile';

html {
    overflow-x: hidden;
}

@keyframes logo_animation {
    0% {
        transform: rotateY(0deg) scale(0.9);
    }
    50% {
        transform: rotateY(180deg) scale(1.2);
    }
    100% {
        transform: rotateY(0deg) scale(0.9);
    }
}
